{% extends '::base.html.twig' %}

{% block body %}
<h1>Liste des Tickets</h1>

<table class="table table-striped">
    <thead>
       <tr>
                <th>Title</th>
                <th>Creator</th>
                <th>Status</th>
                <th>Version</th>
                <th>Catégorie(s)</th>
                <th>Package(s)</th>
                <th>Role(s)</th>
                <th>Team(s)</th>
                <th>Validé</th>
                <th>Update</th>

       </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td> <a href="{{ path('view_ticket', { ticket: ticket.getId() }) }}">{{ ticket.getTitle() }}</a></td>
                <td>{{ ticket.getCreator().getUsername() }}</td>
                <td>{{ ticket.getStatus().getStatusName() }}</td>
                <td>{{ ticket.getVersion().getVersionName() }}</td>
                <td>{{ ticket.getCategories(true)|join(',') }}</td>
                <td>{{ ticket.getPackages(true)|join(',') }}</td>
                <td>{{ ticket.getRoles(true)|join(',') }}</td>
                <td>{{ ticket.getTeams(true)|join(',') }}</td>
                <td>{% if ticket.getIsValidated() %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('update_ticket', { ticket: ticket.getId() }) }}">
                        Update
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('create_ticket') }}">Créer un ticket</a>

{% endblock %}
