{% extends '::base.html.twig' %}

{% block body %}
<h1>Liste des Tickets</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a href="{{ path('tickets') }}?order=title&direction={{ direction }}">
                    Titre
                </a>
            </th>
            <th>
                <a href="{{ path('tickets') }}?order=creator&direction={{ direction }}">
                    Créateur
                </a>
            </th>
            <th>
                <a href="{{ path('tickets') }}?order=priority&direction={{ direction }}">
                   Priorité
                </a>
            </th>
            <th>
                <a href="{{ path('tickets') }}?order=status&direction={{ direction }}">
                    Statut
                </a>
            </th>
            <th>
                <a href="{{ path('tickets') }}?order=version&direction={{ direction }}">
                    Version
                </a>
            </th>
            <th>Catégorie(s)</th>
            <th>Package(s)</th>
            <th>Rôle(s)</th>
            <th>Équipe(s)</th>
            <th>
                <a href="{{ path('tickets') }}?order=isValidated&direction={{ direction }}">
                    Validé
                </a>
            </th>
            <th>Modifier</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td><a href="{{ path('view_ticket', { ticket: ticket.getId() }) }}">{{ ticket.getTitle() }}</a></td>
                <td>{{ ticket.getCreator().getUsername() }}</td>
                <td>{{ ticket.getPriority() }}</td>
                <td>{{ ticket.getStatus().getStatusName() }}</td>
                <td>{{ ticket.getVersion().getVersionName() }}</td>
                <td>{{ ticket.getCategories(true)|join(', ') }}</td>
                <td>{{ ticket.getPackages(true)|join(', ') }}</td>
                <td>{{ ticket.getRoles(true)|join(', ') }}</td>
                <td>{{ ticket.getTeams(true)|join(', ') }}</td>
                <td>{% if ticket.getIsValidated() %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('update_ticket', { ticket: ticket.getId() }) }}">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('create_ticket') }}">Créer un ticket</a>

{% endblock %}
