{% extends '::base.html.twig' %}

{% block body %}
<h1>Liste des Tickets</h1>

<table class="table table-striped">
    <thead>
       <tr>
                <th>Title</th>
                <th>Creator</th>
                <th>Status</th>
                <th>Version</th>
                <th>Update</th>

       </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.getTitle() }}</td>
                <td>{{ ticket.getCreator().getUsername() }}</td>
                <td>{{ ticket.getStatus().getStatusName() }}</td>
                <td>{{ ticket.getVersion().getVersionName() }}</td>
                <td>
                    <a href="{{ path('update_ticket', { ticket: ticket.getId() }) }}">
                        Update
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('create_ticket') }}">Create</a>
{% endblock %}
