{% extends '::base.html.twig' %}

{% block body %}
<h1>Liste des Tickets</h1>

<table class="table table-striped">
    <thead>
       <tr>
                <th>Title</th>
                <th>Creator</th>
                <th>Status</th>
                <th>Version</th>
                <th>Catégorie(s)</th>
                <th>Package(s)</th>
                <th>Role(s)</th>
                <th>Team(s)</th>
                <th>Validé</th>
                <th>Update</th>

       </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td> <a href="{{ path('view_ticket', { ticket: ticket.getId() }) }}">{{ ticket.getTitle() }}</a></td>
                <td>{{ ticket.getCreator().getUsername() }}</td>
                <td>{{ ticket.getStatus().getStatusName() }}</td>
                <td>{{ ticket.getVersion().getVersionName() }}</td>
                <td>{% for category in ticket.getCategory() %} {{category.getName()}},  {%endfor%}</td>
                <td>{% for package in ticket.getPackage() %} {{package.getName()}},  {%endfor%}</td>
                <td>{% for role in ticket.getRole() %} {{role.getName()}},  {%endfor%}</td>
                <td>{% for team in ticket.getTeam() %} {{team.getName()}},  {%endfor%}</td>
                <td>{% if ticket.getIsValidated() %} <span class="glyphicon glyphicon-ok"></span> {%else%}<span class="glyphicon glyphicon-remove"></span> {%endif%}</td>
                <td>
                    <a href="{{ path('update_ticket', { ticket: ticket.getId() }) }}">
                        Update
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('create_ticket') }}">Créer un ticket</a>

{% endblock %}
