<!DOCTYPE html>
<html lang="en">
  <head>

<title>Claroline Connect Backlog</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Liste des Tickets</h1>

<table class="table">
    <thead>
        <th>
            <tr>
                <td>Title</td>
                <td>Creator</td>
                <td>Status</td>
                <td>Update</td>
            </tr>
        </th>
    </thead>
    <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.getTitle() }}</td>
                <td>{{ ticket.getCreator().getUsername() }}</td>
                <td>{{ ticket.getStatus().getStatus() }}</td>
                <td>
                    <a href="{{ path('update_ticket', { ticket: ticket.getId() }) }}">
                        Update
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('create_ticket') }}">Create</a>
</body>
</html>
